@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-lspd {
    font-family: "Oswald", sans-serif;
}

:root {
    --primary: rgba(126, 126, 126, 0.2);
    --secondary: #1a3544;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}
  
  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}
  
*::-webkit-scrollbar-track {
    background: var(--primary);
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 1px solid white;
}