main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.navBar {
  background-color: #282c34;
  height: 98vh;
  margin: 8px 0 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

  & i {
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  & a {
    font-size: 20px;
    color: #eaeaea;

    &:hover {
      cursor: pointer;
    }
  }

  & .topIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    width: 60px;
    gap: 16px;
    color: #eaeaea;
  }

  & .bottomIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 0;
    gap: 16px;
    color: #eaeaea;
  }
}

.rightPagesContainer {
  margin-left: 16px;
  width: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  & .rightPagesTopContainer {
    text-align: center;
    & .lspdLogo {
      width: 100%;
      height: 100%;
      max-width: 150px;
      max-height: 150px;
      margin: 8px 0 0 0;
    }
  }
}